# Iterator

In [1]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [2]:
for value in [2, 4, 6, 8, 10]:
    # do some operation
    print(value + 1, end=' ')

3 5 7 9 11

In [3]:
iter([2, 4, 6, 8, 10])

In [4]:
I = iter([2, 4, 6, 8, 10])

In [5]:
print(next(I))

print(next(I))

print(next(I))

2
4
6

In [6]:
 range(10)

range(0, 10)

In [7]:
iter(range(10))

In [8]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
N = 10 ** 12
for i in range(N):
    if i >= 10: break
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [10]:
from itertools import count

for i in count():
    if i >= 10:
        break
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

# Enumerates

In [12]:
L = [2, 4, 6, 8, 10]
for i in range(len(L)):
    print(i, L[i])

0 2
1 4
2 6
3 8
4 10

In [13]:
for i, val in enumerate(L):
    print(i, val)

0 2
1 4
2 6
3 8
4 10

# Zip

In [18]:
L = [2, 4, 6, 8, 10]
R = [3, 6, 9, 12, 15]
for lval, rval in zip(L, R):
    print(lval, rval)

2 3
4 6
6 9
8 12
10 15

# map and filter

In [16]:
# find the first 10 square numbers
square = lambda x: x ** 2
for val in map(square, range(10)):
    print(val, end=' ')

0 1 4 9 16 25 36 49 64 81

In [19]:
# find values up to 10 for which x % 2 is zero
is_even = lambda x: x % 2 == 0
for val in filter(is_even, range(10)):
    print(val, end=' ')

0 2 4 6 8

# terators as function arguments

In [20]:
print(*range(10)) # the star means unpack

0 1 2 3 4 5 6 7 8 9

In [26]:
print(*map(lambda x: x ** 2, range(10)))
#print(*map(range(10), lambda x: x ** 2)) this doesn't work

0 1 4 9 16 25 36 49 64 81

In [22]:
L1 = (1, 2, 3, 4)
L2 = ('a', 'b', 'c', 'd')

z = zip(L1, L2)
print(*z)

(1, 'a') (2, 'b') (3, 'c') (4, 'd')

In [31]:
# Unzipping L1 and L2
z = zip(L1, L2)
print(z)
new_L1, new_L2 = zip (*z)
print(new_L1, new_L2)

<zip object at 0x0000028EEC1462C0>
(1, 2, 3, 4) ('a', 'b', 'c', 'd')

# Specialized Iterators: itertools

In [32]:
from itertools import permutations
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

In [33]:
from itertools import combinations
c = combinations(range(4), 2)
print(*c)

(0, 1) (0, 2) (0, 3) (1, 2) (1, 3) (2, 3)

In [63]:
from itertools import product
p = product('ab', range(3))
#print(*p)

c,d = zip(*p)
print('c:', c)
print('d:', d)

c: ('a', 'a', 'a', 'b', 'b', 'b')
d: (0, 1, 2, 0, 1, 2)

# List Comprehension

In [67]:
[i for i in range(20) if i % 3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [68]:
['x' for i in range(20) if i % 3 > 0]

['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']

# Basic List Comprehensions

In [69]:
L = []
for n in range(12):
    L.append(n ** 2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [70]:
[n ** 2 for n in range(12)]    # this makes the code more pythonic

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [71]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [72]:
[val for val in range(20) if val % 3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [73]:
L = []
for val in range(20):
    if val % 3:
        L.append(val)
L

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

# Conditionals on Value

In [74]:
val = -10
val if val >= 0 else -val

10

In [75]:
[val if val % 2 else -val
 for val in range(20) if val % 3]

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [76]:
# Set Comprehension

{n**2 for n in range(12)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121}

In [77]:
{a % 3 for a in range(1000)}

{0, 1, 2}

In [78]:
# Dictionary Comprehension

{n:n**2 for n in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
(n**2 for n in range(12))

# Homework 5

In [81]:
### Q2
from itertools import permutations

S = input().split(" ")

perm = permutations(S[0], int(S[1]))

unpacked = sorted(list(perm))

for val in unpacked:
    
    print(''.join(val))

HACK 2
AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

In [83]:
### Q1

from itertools import product

A = [int(val) for val in input().split(' ')]
B = [int(val) for val in input().split(' ')]

productAB = product(A, B)

print(*productAB)

1 2
3 4
(1, 3) (1, 4) (2, 3) (2, 4)

In [84]:
### Q3

from itertools import combinations_with_replacement

S = input().split(" ")

perm = combinations_with_replacement(sorted(S[0]), int(S[1]))

unpacked = list(perm)

for val in unpacked:
    
    print(''.join(val))

HACK 2
AA
AC
AH
AK
CC
CH
CK
HH
HK
KK