# Ex2 - Getting and Knowing your Data: Chipotle

In [5]:
# Step 1. Import the necessary libraries
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.
# Step 4. See the first 10 entries

import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [27]:
# Step 5. What is the number of observations in the dataset?

print(chipo.shape[0])

chipo.info()

4622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   revenue             4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

In [7]:
# Step 6. What is the number of columns in the dataset?

chipo.shape[1]

5

In [28]:
# Step 7. Print the name of all the columns.

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'revenue'],
      dtype='object')

In [11]:
# Step 8. How is the dataset indexed?

chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [25]:
# Step 9. Which was the most-ordered item?
# Step 10. For the most-ordered item, how many items were ordered?

c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(5)

                     order_id  quantity  item_price  revenue
item_name
Chicken Bowl           713926       761     7342.73  8044.63
Chicken Burrito        497303       591     5575.82  6387.06
Chips and Guacamole    449959       506     2201.04  2475.62
Steak Burrito          328437       386     3851.43  4236.13
Canned Soft Drink      304753       351      438.75   603.75

In [14]:
# Step 11. What was the most ordered item in the choice_description column?

c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [15]:
# Step 12. How many items were orderd in total?¶

total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [29]:
# Step 13. Turn the item price into a float

chipo.item_price.dtype

dtype('float64')

In [18]:
# Step 13. Turn the item price into a float

dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [19]:
chipo.item_price.dtype

dtype('float64')

In [20]:
# Step 14. How much was the revenue for the period in the dataset?

revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [21]:
# Step 15. How many orders were made in the period?

orders = chipo.order_id.value_counts().count()
orders

1834

In [22]:
# Step 16. What is the average revenue amount per order?

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [23]:
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [24]:
# Step 17. How many different items are sold?

chipo.item_name.value_counts().count()

50